* {
    margin: 0;
    padding: 0;
}

/*
----------- Navbar --------------
*/
nav.navbar {
    background-color: rgb(0, 0, 0) !important;
    color: #fff;
}



.navbar-nav .nav-link {
    margin-right: 7px !important;
    color: #212529 !important;
}

.navbar-nav .nav-link:hover {
    color: #f68b1e !important;
    text-decoration: underline !important;
}

.nav-link.active {
    color: #f68b1e !important;
}
.text-light {
    color: #fff !important;
  }